.DS_Store
node_modules/
serve/img/
serve/uiimg/
serve/www/
serve/tuyimm/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.git
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
